@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:black;

}
#canvas1{
   border:2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100vw;
    height: 100vh;
}
h1{
   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFF;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    border: 2px solid white;
    padding: 3pc;
}
